<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Personal Information Form</title>
                
        
    </head>
    <body>
        <h1>Personal Information Form</h1>
        <form method="POST" id="myform" enctype="multipart/form-data">
            <input type="file" id="fileInput" name ="file"/>
        </form>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#submitButton").click(function(e){
                    e.preventDefault();
                    var form=new FormData();
                    form.append("data",$("#inputdata").val());
                    form.append("file",$("#fileInput")[0].files[0]);
                    var csrfToken=$("input[name=csrfmiddlewaretoken]").val();
                    form.append("csrfmiddlewaretoken",csrfToken);
                    $.ajax({
                        type:"POST",
                        url:"",
                        data:form,
                        processData:false,
                        contentType:false,
                        success:function(response){
                            $("#response").html(response.message);
                        },
                    })
                })
            })
        </script>  
    </body>
    </html>
        